.get-started-button {
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
    background-color: rgba(237, 163, 2, 0.753);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-button {
    font-size: 20px;
    padding: 5px;
    background-color: aqua;
}