.dashboard-wrapper {
    display: flex;
    height: 100vh;
}

.content {
  flex: 1;
  padding: 20px 30px;
  margin-left: 20px;
  background-color: rgb(245, 254, 253);
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.dashboard-card {
  flex:1;
  min-width: 300px;
  max-width: 600px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 22px;
  margin-bottom: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  color: white;
}

.blue {
  background-color: #3498db;
}

.green {
  background-color: #2ecc71;
}

.orange {
  background-color: #f39c12;
}

.dashboard-card h3 {
  font-size: 20px;
  margin: 5px 0;
}

.dashboard-card p {
  font-size: 13px;
  color: #555;
}

.report-container {
  padding-top: 1rem;
}

.report-card {
  cursor: default;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.report-card:hover {
  transform: scale(1.02);
}

.default-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}