header {
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 0.3rem 2rem 0.3rem 2rem;
    width: 100%;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
}