.landing-page-wrapper {
    height: 100vh;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: blanchedalmond;
}

.img-section {
   height: 100%;
   width: 50%;
   background-color: burlywood;
}