.landing-page-wrapper {
    height: 100vh;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cta-section ,
.img-section {
    height: 100%;
    width: 50%;
}
.cta-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: blanchedalmond;
    padding-left: 4rem;
    padding-right: 2rem;
    gap: 2.3rem;
}

.cta-section h1 {
    margin-top: 13rem;
    font-size: 3.2rem;
}
.img-section {
   background-color: burlywood;
}
