.sidebar-container {
  position: sticky;
  width: 200px;
  height: 100%;
  background-color: rgb(0, 66, 92);
  padding: 2rem 0.5rem;
}

.sidebar-container h3 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  gap: 1rem;
}
.sidebar-item {
  display: block;
  color: white;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: rgb(0, 83, 172);
}
.sidebar-item.active {
  background-color: rgb(0, 104, 214);
  color: white;
}

.signout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.signout-button:hover {
  background-color: #c0392b;
}
